HA_BASE_URL=http://homeassistant.local
HA_SCREENSHOT_URL=/lovelace/screensaver?kiosk
HA_ACCESS_TOKEN=ey...
#RENDERING_WAIT_FOR_CONTENT=true
#RENDERING_STABILITY_TIMEOUT=30000
#RENDERING_STABILITY_PERIOD=1500
#DEBUG=true
#USE_IMAGE_MAGICK=true
#HTTP_AUTH_USER=admin
#HTTP_AUTH_PASSWORD=secret
